on:
  push:
    branches:
    - main
    
jobs:
  releaseVersion:
    name: update changelog.md
    runs-on: ubuntu-18.04
    steps:
    
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.5.1
      with:
        node-version: '16.x'
          
    - name: Install Dependencies
      run: 
        yarn
          
    - name: running release scripts
      run:
        yarn release
